body {
    color: #c6dff5;
    background-color: #0d1117; 
    font-size: 30px;
    margin: 0px;
    margin-left: 8px;
    padding: 0px;
}
header h1 {
    color: rgba(124, 238, 18, 0.945);
    font-size: 40px;
}
a {
    text-decoration: none;
}
section a div.click {
    color: rgb(253, 10, 10);
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
        url(/mouseclick.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 250px;
    margin: 20px;
    float: left;
}
section a div.home {
    color: rgb(58, 255, 58);
}
section a div.calc {
    background:
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url(/images/calculator.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(2, 247, 255);
}
section a div{
    background:
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)),
        url(/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 250px;
    margin: 20px;
    float: left;
}
section a div p {
    font-size: 35px;
    text-align: center;
}
section a div p:last-child {
    font-size: 30px;
}
